<div class="d-flex flex-column min-vh-100">
<footer class="bg-primary text-center text-white mt-auto">
  <div class="container p-3 pb-1">
    <section class="mb-2">
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/CoryDelcru" role="button">
        <i class="bi bi-twitter"></i>
      </a>
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://linkedin.com/in/cory-dela-cruz" role="button"
        ><i class="bi bi-linkedin"></i></a>
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/CoryDCruz" role="button"
        ><i class="bi bi-github"></i></a>
    </section>
  </div>
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright
  </div>
  <!-- Copyright -->
</footer>
</div>