<%- include('partials/header.ejs') %>
<%- include('partials/footer.ejs') %>



<div class="jumbotron jumbotron-fluid p-3">
    <div class="container">
      <h1 class="display-4">Need a QR Code? </h1>
      <p class="display-6">Create custom QR codes from any URL and save them to your album for later. Delete/Edit your codes whenever you like.</p>
      <div class="d-flex justify-content-start p-1">
        <a class="btn btn-md btn-secondary my-2 my-sm-0" role="button" href="/">Back</a>
    </div>
    </div>
  </div>