<form action="/codes/new" method="POST">
    <label>Title</label>
    <input type="text" class="form-control" name="title">
    <label>Description</label>
    <input type="text" class="form-control" name="description">
    <label>URL</label>
    <input type="text" class="form-control" name="codeUrl">
    <input type="submit" value="Submit">
</form>
 