<%- include('../partials/header.ejs') %>

<div class="d-flex justify-content-center p-3">
    <a class="btn btn-secondary my-2 my-sm-0" role="button" href="/users/profile">Back</a>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-3">
            <form action="/users/edit?_method=PUT" method="POST">
            <div class="form-group mx-auto">
                <label for="inputName" class="form-label mt-4">Name</label>
                <input type="text" class="form-control" value="<%= user.name %>" name="name">
            </div>
            <div class="form-group mx-auto">
                <label for="inputEmail" class="form-label mt-4">Email</label>
                <input type="email" class="form-control" value="<%= user.email %>" name="email"/>
            </div>
            <div class="d-grid gap-2 p-3">
                <input class="btn btn-large btn-primary" type="submit" value="Confirm Edit">
            </div>
        </div>
        </form> 
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>