<%- include('../partials/header.ejs') %>

<div class="jumbotron jumbotron-fluid p-3">
    <div class="container">
      <h1 class="display-4">Successfully Logged Out</h1>
      <a href="/">Back to Login Page</a>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>