<%- include('../partials/header.ejs') %>
<form action="/users/signup" method="post">
    <label class="form-label">Your Name</label>
    <input type="name" id="signupName" class="form-control form-control-lg" name="name"/>
    <label class="form-label">Your Email</label>
    <input type="email" id="signupEmail" class="form-control form-control-lg" name="email"/>
    <label class="form-label">Password</label>
    <input type="password" id="signupPassword" class="form-control form-control-lg" name="password"/>
    <input type="submit" value="Submit">
</form>